# Maven
target/

# IDE files
.settings/
.classpath
.project

# Logs and screenshots
test-output/
Screenshots/
logs/
result/

# Backup files
*.bak

# Exceptions: track Screenshots folder and PNG files
!Screenshots/
!Screenshots/*.png